<h3>Add Peep:</h3>

<% if current_user %>

<form action="/peep" method="post">
  <label for="message">Message:</label>
  <input type="text" id='message' name="message"/>
  <input type="submit" value="Add Peep">
<% end %>

</form>
