<h3>Sign Up</h3>

<div id="container">
  <form class="" action="/user" method="post">
    <label for="name">Name:</label>
    <input type="text" name="name" placeholder="eg. John" required>
    <label for="username">Username:</label>
    <input type="text" name="username" placeholder="eg. JDog" required>
    <label for="email">Email:</label>
    <input type="email" name="email" placeholder="eg. john@email.com" required>
    <label for="password">Password:</label>
    <input type="password" name="password" placeholder="eg. 12345678" required>
    <label for="passsword_confirmation">Confirm Password:</label>
    <input type="password" name="password_confirmation" placeholder="eg. 12345678" required>
    <input type="submit" value="Sign Up">
  </form>

</div>
