<form action="/peep/oldest_first" method="post">
  <input type="submit" value="Oldest First">
</form>

<form action="/peep/newest_first" method="post">
  <input type="submit" value="Newest First">
</form>

</form>

<ul id='peeps'>
   <% @peeps.map do |peep| %>
   <li> <%= User.get(peep.user_id).username%> </li>
   <li> <%= peep.message %> </li>
   <li> <%= peep.date.strftime("%d/%m/%Y" " %H:%M") %> </l1>
   <% end %>
</ul>
